<h1>Users</h1>
<button class="btn btn-primary"><a [routerLink]="['NewUser']">Add User</a></button>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Edit</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="#user of users">
			<td>{{user?.name}}</td>
			<td>{{user?.email}}</td>
			<td><a [routerLink]="['EditUser', {id: user.id}]"><span class="glyphicon glyphicon-edit"></span></a></td>
			<td><span (click)="deleteUser(user.id)" class="glyphicon glyphicon-remove"></span></td>
		</tr>
	</tbody>
</table>