<!DOCTYPE html>
	<html>
	<head>
		<title>Add users name and age and delete them when you click on button</title>
	</head>
	<body ng-app="myApp">
		<div ng-controller="myCtrl as mc">
			enter name
			<input type="text" ng-model="mc.name">
			enter age
			<input type="text" ng-model="mc.age">
			<button ng-click="mc.addUser()">Add</button>

			<ul>
				<li ng-repeat="user in mc.users">Name is {{user.name}} and age is {{user.age}}
				<button ng-click="mc.removeUser(user.id)">remove</button>
				</li>
			</ul>
			
		</div>
		



		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script>
			angular.module('myApp', [])
					.controller('myCtrl', myCtrl);

			myCtrl.$inject = ['$scope'];
			
			function myCtrl($scope){
				var vm  = this;
				vm.users = [];
				vm.id = 0;
				vm.addUser = function(){
					//alert('');
					vm.id++;
					vm.users.push({name: vm.name, age: vm.age, id: vm.id});
					console.log(vm.users);
					vm.name = ""; vm.age = "";
				};

				vm.removeUser = function(id){
					var res = [];
					vm.users.forEach(function(elem, index){
						if(elem.id != id){
							res.push(elem);
						}
					});

					vm.users = res;
				};
			}		
		</script>
	</body>
</html>