<form [ngFormModel]="form" (ngSubmit)="onSubmit()">
	<div class="form-group">
		<label>Current Password</label>
		<input 
			class="form-control" 
			type="password"
			ngControl="currentPassword"
			#currentPassword="ngForm"
			>
		<div *ngIf="currentPassword.errors && currentPassword.touched">
			<div class="alert alert-danger" *ngIf="currentPassword.errors.required">
				old password required
			</div>
			<div class="alert alert-danger" *ngIf="currentPassword.control.value != '' && currentPassword.errors.checkOldPassword">
				old password didn't match
			</div>			
		</div>	
	</div>
	<div class="form-group">
		<label>New Password</label>
		<input 
			class="form-control" 
			type="password"
			ngControl="newPassword"
			#newPassword="ngForm">
		<div *ngIf="newPassword.touched && newPassword.errors">
			<div class="alert alert-danger" *ngIf="newPassword.errors.required">
				new password required
			</div>
			<div class="alert alert-danger" *ngIf="newPassword.control.value != '' && newPassword.errors.checkNewPasswordLength">
				new password must be atleast {{newPassword.errors.checkNewPasswordLength}}
			</div>			
		</div>	
	</div>
		<div class="form-group">
		<label>Confirm Password</label>
		<input 
			class="form-control" 
			type="password"
			ngControl="confirmPassword"
			#confirmPassword="ngForm">
		<div *ngIf="confirmPassword.errors && confirmPassword.touched">
			<div class="alert alert-danger" *ngIf="confirmPassword.errors.required">
				confirm password required
			</div>
		</div>	
		<div *ngIf="form.errors">
			<div class="alert alert-danger" *ngIf="form.errors.matchPasswords">
				passwords dint match
			</div>
		</div>	
	</div>	
	<button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>